<!-----------------
CRUD using AngularJS and ngStorage
Created by Peter Cox
Edit for HSC project by Joshua Burn 26962986
5 june 2015
Copyright  2015  PCSquared.com.au
---------------->
<!DOCTYPE html>
<html ng-app="app" >
<head>
    <title>EASY INVOICES</title> 
    
    
    
    	<!---this allows the interface to be viewed on a mobile device---->
 	    
        <meta name="viewport" content="width=device-width, initial-scale=1">     
    <!--Custom style sheet-->
    <link href="css/customtheme.css" rel="stylesheet" />
        <!----Jquery mobile style sheets--->
        <link rel="stylesheet" href="css/jquery.mobile.icons-1.4.0.min.css" />
         <link rel="stylesheet" href="css/jquery.mobile.structure-1.4.0.css" />
          <!-- Slider CSS------> 
        <link rel="stylesheet" href="css/angular.rangeSlider.css"> 
        <!-------------------JQUERY---------------------->
        <script src="js/jquery-1.8.3.min.js"></script>
          <!---------THIS CODE FIXES A SECURITY CHANGE IN CHROME NOT ALLOWING OPENING HTML FILES FROM A FILE---------------->
            <script>
                $(document).bind('mobileinit',function(){
                $.mobile.changePage.defaults.changeHash = false;
               $.mobile.hashListeningEnabled = false;
              $.mobile.pushStateEnabled = false;
            });</script>
        <!-----------JQUERY MOBILE---------------------->
        <script src="js/jquery.mobile-1.4.0.min.js"></script> 
        <!-------------------ANGULAR   ---------------------->
        <script src="js/angular.min.js"></script>
       <!--ngStorage-->
        <script src="js/ngStorage.min.js"></script> 
        <!-- YOUR CONTROL  logic------> 
        <script src="js/app.js"></script>
    <script src="js/invoice.js"></script>
</head>

<body width="device-width" ng-controller="invoiceController" ng-init="startng()">
   
<!---------------------------------------------PAGE:  HOME--------------------------------------------------->
        <div data-role="page" id="home" ng-controller="invoiceController" data-theme="a" ng-model="homepage"> 
        <!-----------PANEL--------------------->
        <div data-role="panel" id="homeNav" data-position="left" data-display="reveal">
    		<ul data-role="listview" data-inset="true" data-split-icon="gear">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#owninfo" ng-click="editscreenpopulate()">Edit own information</a></li>
                    <li> <a href="#clients">Client List</a></li>
                    <li> <a href="#invoices">View Past Invoices</a></li>
                    <li> <a href="#reports">View Reports</a></li>

            </ul>                 
            <a class="ui-btn ui-shadow ui-corner-all  ui-btn-mini  " href="#homeNav">Close</a>	
        </div><!-- /panel -->
        

        <!--page navigation header-->
        <div data-role="header" >
           <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini ui-btn-left ui-btn-icon-left ui-icon-navigation" ng-click="ClearAddMessage()" href="#homeNav">Nav</a><h1>EASY INVOICES</h1>
        </div><!-- /header -->

		<!--page Content-->
        <div role="main" class="ui-content"  >
                	
                    
           
                     
                    <br>
                    <b><font size="16">ADD AN INVOICE</font></b><br /><br />


            <!---Body--->
            <div>
                <div class="ui-body ui-body-b" align="left">
                    <span ng-if="successfullyAdded" style="font-size:24px"><b>Your invoice has been successfully added</b> </span><br />
                    <b style="font-size:20px">Client </b> <br><select id="clientselect" ng-model="clientselect" ng-change="formatChangeClient()"></select>
                   <!---- <br /><b>Invoice Format</b><br /><select ng-model='selectformat' id='selectformat' ng-change="formatChangeFormat()"><option value='short'>Short</option><option value='long'>Long</option></select> -->

                    <span id="formthing" ng-model="formthing"></span>

                </div>
                <br>
                <button ng-click='addinvoice()' id="sumbitinvoice" style="color:black;width:100px">Submit</button>
            </div>
</div><!-- /main content -->

        <div data-role="footer" data-position="fixed" >
          <p align="center"> </p>
        </div><!-- /footer -->
</div><!-- /end home page -->
        
        
        
        

 <!--------------------------------------------PAGE: EDIT OWN INFO--------------------------------------------------->       
 <div data-role="page" id="owninfo"  ng-controller="invoiceController"   >
     <!-----------PANEL--------------------->
     <div data-role="panel" id="owninfoNav" data-position="left" data-display="reveal">
          <ul data-role="listview" data-inset="true" data-split-icon="gear">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#owninfo" ng-click="editscreenpopulate()">Edit own Information</a></li>
                    <li> <a href="#clients">Client List</a></li>
                    <li> <a href="#invoices">View Past Invoices</a></li>
                <li> <a href="#reports">View Reports</a></li>
        </ul> 
                          
        <a class="ui-btn ui-shadow ui-corner-all  ui-btn-mini  " href="#owninfoNav">Close</a>	
     </div><!-- /panel -->
       
     <!--page navigation header-->  
     <div data-role="header">
         <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini ui-btn-left ui-btn-icon-left ui-icon-navigation" ng-click="ClearSleepMessage()" href="#owninfoNav">Nav</a>	<h1>EASY INVOICES</h1>
     </div><!-- /header -->
     
    <!--page Content--> 
     <div role="main" class="ui-content" >      
         <div  class="ui-body ui-body-b" align="left" id="settingsform">
           <h1><b>Edit Information for Invoices</h1></b>
            <div ng-if="successfullyUpdated">Settings Updated!</div>
            
          <!--EDIT OWN INFO FORM-->
          <table width="90%" border="1" cellspacing="2" cellpadding="2">
                                  <tr>
                                    <td>Your Company Name row 1</td>
                                    <td> <input  type="text" name="namerow1" ng-model="namerow1"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Your Company Name row 2</td>
                                    <td> <input  type="text" name="namerow2" ng-model="namerow2"  /></td>
                                  </tr>
                                  <tr>
                                    <td>ABN</td>
                                    <td> <input type="number" name="abn" ng-model="abn"  maxlength="11"/></td>
                                  </tr>
                                  <tr>
                                    <td>Contact details - phone or email</td>
                                    <td> <input type="text" name="contactdetails" ng-model="contactdetails"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Payment Terms</td>
                                    <td> <input type="number" name="paymentnumber" ng-model="paymentnumber"/>
                                      <select name="termsunits" ng-model="termsunits" id="termsunits"></select><br> Enable payment terms on form?
							<input type="checkbox" checked></input><br></td>
                                    <!--TODO: WRITE JS TO MAKE INPUT FOR DAYS/WEEKS. MONTHS POSSIBLY?-->
                                  </tr>
                                  <tr>
                                    <td>BSB</td>
                                    <td> <input type="text" name="bsb" ng-model="bsb" length="7" /></td>
                                  </tr>
                                  <tr>
                                    <td>Account Number</td>
                                    <td> <input type="number" name="account" ng-model="bsb"/></td>
                                   </tr>
                                  
                                </table>
          <button>Submit</button>
          
         </div>
	 </div><!-- /end page content -->

     <div data-role="footer" data-position="fixed">
         <p align="center"> </p>
     </div><!-- /footer -->
</div><!-- /end edit info page -->



 <!------------------------------------------------------PAGE: invoicelist--------------------------------------------------->       
 <!--NOTE:   ng-controller:  contactController  -->
 <div data-role="page" id="invoices"  ng-controller="invoiceController"  >
     <!-----------PANEL--------------------->
     <div data-role="panel" id="invoicesNav" data-position="left" data-display="reveal">
          <ul data-role="listview" data-inset="true" data-split-icon="gear">
    		
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#owninfo" ng-click="editscreenpopulate()">Edit own information</a></li>
                    <li> <a href="#clients">Client List</a></li>
                     <li> <a href="#invoices">View Past Invoices</a></li>
                <li> <a href="#reports">View Reports</a></li>

        </ul>               
        <a class="ui-btn ui-shadow ui-corner-all  ui-btn-mini  " href="#invoicesNav">Close</a>	
     </div><!-- /panel -->
     
      <!--page navigation header-->
      <div data-role="header">
           <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini ui-btn-left ui-btn-icon-left ui-icon-navigation" ng-click="ClearSleepMessage()" href="#invoicesNav">Nav</a><h1>EASY INVOICES</h1>
        </div><!-- /header -->     

 	<!--page Content-->
     <div role="main" class="ui-content">    
     <h2>Invoices</h2>
        		
					<div  class="ui-body ui-body-b"  align="left">    
					<br>Search: <input ng-model="invoicequery">
  						<table >
                              <tr>
                                <td><b>Invoice</b></td>
                              <td><b>View</b></td>
                                  <td><b>Mark as paid</b></td>
                              <td>&nbsp;&nbsp;</td>
                              <td><b>View Followup Invoice</b></td>
                              <td>&nbsp;&nbsp;</td>
                              <td><b>Delete Invoice</b></td></tr>
                              <tr ng-repeat="q in storage.invoices  | filter:invoicequery" data-role="listview" list-view data-watch="listView"  data-split-theme="c" data-inset="true"  >
               <td>
                    <li>

        
                        <h2>{{q.name}}</h2> 
                <p>
                          

                         <strong>Client:</strong> {{q.client}} <br> 
                         
                         <strong> Hours Worked:</strong> {{q.totalhours}}  <br>

                        <strong>Invoice Period:</strong> {{q.month}} {{q.year}} <br> 

                        <strong> Date Made:</strong>  {{q.createday}}  {{q.createmonth}} {{q.createyear}} <br>
                          
                         <strong> Notes:</strong> {{q.notes}}   <br>
                         
                         <strong> Invoice No.:</strong> {{q.invoicenumber}} <br>

                        <strong> Paid: </strong> {{q.paid}}<br />

                    <strong> Date Paid: </strong> {{q.datepaid}}<br />
                    <strong> Follow Up Sent: </strong> {{q.followupsent}}<br />
                        
                       


                    </li></td>
                    <td>
                             <a ng-click="displayInvoice($index)"><img src="images/plus.gif" width="42" height="39"/></a>
                           </td>    
                           <td>
                               <a ng-click="markpaid($index)"><img src="images/tick.gif" width="42" height="39" /></a>
                           </td>
                                  <td>&nbsp;&nbsp;</td>
                           <td>
                            <a ng-click="displayFollowupInvoice($index)"><img src="images/followup.gif" width="42" height="39"/></a>
                        </td>
                                  <td>&nbsp;&nbsp;</td>
                        <td>
                            <a ng-click="deleteinvoice($index)"><img src="images/minus.gif" width="42" height="39"/></a>
                        </td>
                              </tr>
       					</table>   
                                        
                         Number of filtered items: {{storage.invoices.length}}  
          
          
          
          
            </div>
	 	</div><!-- /end of main content -->

     <div data-role="footer" data-position="fixed">
         <p align="center">  </p>
     </div><!-- /footer -->
</div><!-- /page -->




 <!--------------------------------------------PAGE: CLIENT LIST--------------------------------------------------->       
 <div data-role="page" id="clients" ng-controller="invoiceController">
     <!-----------PANEL--------------------->
     <div data-role="panel" id="clientsNav" data-position="left" data-display="reveal">
          <ul data-role="listview" data-inset="true" data-split-icon="gear">
    		
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#owninfo" ng-click="editscreenpopulate()">Edit own information</a></li>
                    <li> <a href="#clients">Clients List</a></li>
                     <li> <a href="#invoices">View Past Invoices</a></li>
                <li> <a href="#reports">View Reports</a></li>
        </ul>               
        <a class="ui-btn ui-shadow ui-corner-all  ui-btn-mini  " href="#clientsNav">Close</a>	
     </div><!-- /panel -->
     
   
       <!--page navigation header--> 
     <div data-role="header">
         <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini ui-btn-left ui-btn-icon-left ui-icon-navigation" href="#clientsNav">Nav</a>	<h1>EASY INVOICES</h1>
     </div><!-- /header -->
     
     <div role="main" class="ui-content">      
         <h2>Clients</h2> 
         
 		<div  class="ui-body ui-body-b"  align="left">  
       <br>ADD A CLIENT:<a href="#newClient" data-rel="popup" data-position-to="window" ndata-transition="pop"><img src="images/plus.gif" width="42" height="39"></a> 
					<br>Search: <input ng-model="query">
  						<table >
                              <tr>
                                <td ><strong>Client info</strong></td>
                                <td ><strong>Edit</strong></td>
                                 <td ><strong>Delete</strong></td>

                                 </tr>
                              <tr ng-repeat="p in storage.clientlist  | filter:query" data-role="listview" list-view data-watch="listView"  data-split-theme="c" data-inset="true"  >
               <td>
                    <li>

                        

                        <h2>{{p.name}}</h2> 
                <p>
                          

                         <strong>Hourly Rate:</strong> {{p.hourrate}} <br> 
                         
                         <strong> Address Line One:</strong> {{p.addressone}}  <br>

                        <strong> Address Line Two:</strong> {{p.addresstwo}}  <br> 

                        <strong> Invoice Format:</strong>  {{p.format}}   <br>
                          
                         <strong> Contact Information:</strong> {{p.contact}}   <br>
                        
                       


                    </li></td>
                                 <td>
                                   <a  href="#editClient"  ng-click="displayEditClient($index)" data-rel="popup" data-position-to="window" ndata-transition="pop"><img src="images/plus.gif" width="42" height="39"></a> 
                                 </td>
                                 <td> 
                                 <a   href="#deleteClient"  ng-click="deleteClient($index)"  data-rel="popup" data-position-to="window" ndata-transition="pop"><img src="images/minus.gif" width="42" height="39"></a> 
                                 </td>
                              </tr>
       					</table>   
                                        
                         Number of filtered items: {{storage.clientlist.length}}  
               
               <!---DELETE: POP UP WINDOW ---->
                        <div data-role="popup" id="deleteClient" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
                                Do you really want to delete this client?<br>
                                <a href="index.html" ng-click="deleteClientYes(index)"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">YES</a>
                                 <a href="index.html"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
                     	</div>  <!--end of delete pop-up-->
                
                        <!--EDIT : POP UP WINDOW-->
                        <div data-role="popup" id="editClient" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
                            <a href="index.html" ng-click="saveEditClient(index)"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">SAVE EDITS</a>
                             <a href="index.html"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
                            <table width="90%" border="1" cellspacing="2" cellpadding="2">
                                  <tr>
                                    <td>Name</td>
                                    <td> <input  type="text" name="name" ng-model="name"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Hourly rate</td>
                                    <td> <input  type="text" name="hourrate" ng-model="hourrate"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Address Line One</td>
                                    <td> <input type="text" name="addressone" ng-model="addressone"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Address Line Two</td>
                                    <td> <input type="text" name="addresstwo" ng-model="addresstwo"  /></td>
                                  </tr>
                                  <tr>
                                    <td>Invoice Format</td>
                                    <td> <div id="editshortlong"></div></select></td>
                                  </tr>
                                  <tr>
                                    <td>Contact Information</td>
                                    <td> <input type="text" name="contact" ng-model="contact"/></td>
                                  </tr>

                                  
                         
                                </table>
                    	 </div>  <!--end of edit pop-up-->
               
             <!--ADD POPUP-->
             <div data-role="popup" id="newClient" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
                 <a href="index.html" ng-click="saveNewClient()" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">SAVE CLIENT</a>
                 <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
                 <table width="90%" border="1" cellspacing="2" cellpadding="2">
                     <tr>
                         <td>Name</td>
                         <td> <input type="text" id="addname" ng-model="addname" /></td>
                     </tr>
                     <tr>
                         <td>Hourly rate</td>
                         <td> <input type="text" id="addhourrate" ng-model="addhourrate" /></td>
                     </tr>
                     <tr>
                         <td>Address Line One</td>
                         <td> <input type="text" id="addaddressone" ng-model="addaddressone" /></td>
                     </tr>
                     <tr>
                         <td>Address Line Two</td>
                         <td> <input type="text" id="addaddresstwo" ng-model="addaddresstwo" /></td>
                     </tr>
                     <tr>
                         <td>Invoice Format</td>
                         <td> <select id="addformat" ng-model="addformat"><option value="short">Short</option><option value="long">Long</option></select></td>
                     </tr>
                     <tr>
                         <td>Contact Information</td>
                         <td> <input type="text" name="addcontact" ng-model="addcontact" /></td>
                     </tr>



                 </table>
             </div><!--end of add popup-->
               
                </div>         
	 </div><!-- /content -->

     <div data-role="footer" data-position="fixed">
         <p align="center"> &copy; 2014  PCSquared.com.au </p>
     </div><!-- /footer -->
</div><!-- /page -->



    <!------------------------------------------------------PAGE: reports--------------------------------------------------->
    <!--NOTE:   ng-controller:  contactController  -->
    <div data-role="page" id="reports" ng-controller="invoiceController">
        <!-----------PANEL--------------------->
        <div data-role="panel" id="reportsNav" data-position="left" data-display="reveal">
            <ul data-role="listview" data-inset="true" data-split-icon="gear">
                
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#owninfo" ng-click="editscreenpopulate()">Edit own information</a></li>
                    <li> <a href="#clients">Client List</a></li>
                    <li> <a href="#invoices">View Past Invoices</a></li>
                    <li> <a href="#reports">View Reports</a></li>

                </ul>
                <a class="ui-btn ui-shadow ui-corner-all  ui-btn-mini  " href="#reportsNav">Close</a>
        </div><!-- /panel -->
        <!--page navigation header-->
        <div data-role="header">
            <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini ui-btn-left ui-btn-icon-left ui-icon-navigation" ng-click="ClearSleepMessage()" href="#reportsNav">Nav</a><h1>EASY INVOICES</h1>
        </div><!-- /header -->
        <!--page Content-->
        <div role="main" class="ui-content">
           <h2>Earnings Reports</h2>
        <select>
            <option>All Clients</option>
            <option>Default Client 1</option>
            <option>Default Client 2</option>
        </select>
        <table width="90%" border="1" cellspacing="2" cellpadding="2">
            <tr>
                <td>
                    Whole database
                </td>
                <td width="36" height="36">
                    <input type="radio" name="g1" />
                </td>
            </tr>
            <tr>
                <td>
                    Financial Year to date earnings
                </td>
                <td width="36" height="36"><input type="radio" name="g1"/>
                </td>
                </tr>
            <tr>
                <td>
                    Earnings over last full financial year
                </td>
                <td width="36" height="36"><input type="radio" name="g1"/></td>
            </tr>
            <tr>
                <td>
                    Earnings over a given financial year
                </td>
                <td width="36" height="36"><input type="radio" name="g1" /></td>
                <td>Year:
                    <select>
                        <option>2015-16</option>
                        <option>2014-15</option>
                    </select>
                </td>
</tr>
            <tr>
                <td>
                    Earnings over a certain period
                </td>
                <td width="36" height="36"><input type="radio" name="g1" value="period"/></td>
                <td>Start:<input type="date" />End:<input type="date" /> (Financial year starts 1 July and ends 30 June in a given year)</td>
              </tr>
        </table>
        <button>Generate earning reports</button>
            <br /><br /><br />
        <h2>Application Report</h2>
            <button>Generate Application Report</button>
        <br /><br /><br /><br />


        </div><!-- /end of main content -->

        <div data-role="footer" data-position="fixed">
            <p align="center">  </p>
        </div><!-- /footer -->
    </div><!-- /page -->



</body>
</html>
